## 回顧 - 基本運算單元 

### 整數(int)
```
1 
2 
3
4 + 5
```

### 字串(str)
```
"Hello"
"你好"
"你好" + "Tom"
f"{3} 乘 {5} = {3 * 5}"

"你好" + f"{3} 乘 {5} = {3 * 5}"

```

### 布林(bool)  True and False
```
True
False
bool(1)
bool(0)
bool("")
bool("somewhat")
True and False

```

### 變數
#### 練習1
```
x = 3
y = 5 
x * y

# x & y 會是多少?
```


#### 練習2
```
x = 0
x = x + 1
x += 1
x += 3

# x 是多少?
```

In [44]:
name = "Bill"
print("你好, " +  name)

你好, Bill

In [22]:
x = 0
x = x + 1
x = x + x 
x

2

In [30]:
"hello world"
'greeting, Tom'

'greeting, Tom'

In [35]:
i = 123
total = 456 
# printf 
f"i now is {i}, total is {total}"

'i now is 123, total is 456'

In [27]:
total = 0
for i in range(1, 11):
    total = total + i 
    print(f"i now is {i}, total is {total}")
    
    input("continue") # 中斷程式

print(f"total: {total}")

i now is 1, total is 1
continue
i now is 2, total is 3
continue
i now is 3, total is 6
continue
i now is 4, total is 10
continue
i now is 5, total is 15
continue
i now is 6, total is 21
continue
i now is 7, total is 28
continue
i now is 8, total is 36
continue
i now is 9, total is 45
continue
i now is 10, total is 55
continue
total: 55

## 回顧 - 條件判斷 if elase

```
if True:
    print("True")
else False
    print("False")
```

In [6]:
x = int(input("輸入整數"))
if x > 10:
    print(f"{x} 大於 10")
elif x < 10:
    print(f"{x} 小於 10")
else:
    print(f"{x} 等於 10")

輸入整數１
1 小於 10

## 布林(Bool)
```
True 
bool(1)
bool(-1)
bool(11232313)
bool("anything")
bool("False")

##############################
False
bool(0)
bool("")

```

## 比較
```
True
10 > 9
10 >= 9
True and True
True or False

#######################
False 
10 < 9
True and False
False and False
False and False
```

## 相反
```
not True  
not False 

not "yes"
not "false"
```

# 迴圈(loop) 和 迭代(iterator)

In [12]:
# 從０印到10
print(0)
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)

0
1
2
3
4
5
6
7
8
9

In [18]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

``` # javascript
for (var i=0; i< 10; i++){
   console.log(i) 
}
```

In [19]:
# total = 1 + 2 + 3 + ...... + 10
total = 0
for i in range(1, 11):
    # __________ # implement here
    print(f"i now is {i}, total is {total}")

print("================")
print(f"result: {total}")

total now is 1, total is 0
total now is 2, total is 0
total now is 3, total is 0
total now is 4, total is 0
total now is 5, total is 0
total now is 6, total is 0
total now is 7, total is 0
total now is 8, total is 0
total now is 9, total is 0
total now is 10, total is 0
================
result: 0

In [36]:
# 練習 實作程式求出以下運算試的解
# 2 + 4 + 6 + 8 + ....100

# Tips:
# 如何判斷是不是偶數
# if i % 2 == 0: 

total = 0
for i in range(1, 101):
    if _______:
        total = total + i
        print(f"i now is {i}, total is {total}")

print("================")
print(f"result: {total}")

total now is 1, total is 1
total now is 2, total is 3
total now is 3, total is 6
total now is 4, total is 10
total now is 5, total is 15
total now is 6, total is 21
total now is 7, total is 28
total now is 8, total is 36
total now is 9, total is 45
total now is 10, total is 55
total now is 11, total is 66
total now is 12, total is 78
total now is 13, total is 91
total now is 14, total is 105
total now is 15, total is 120
total now is 16, total is 136
total now is 17, total is 153
total now is 18, total is 171
total now is 19, total is 190
total now is 20, total is 210
total now is 21, total is 231
total now is 22, total is 253
total now is 23, total is 276
total now is 24, total is 300
total now is 25, total is 325
total now is 26, total is 351
total now is 27, total is 378
total now is 28, total is 406
total now is 29, total is 435
total now is 30, total is 465
total now is 31, total is 496
total now is 32, total is 528
total now is 33, total is 561
total now is 34, total is 595
total now is 35, total is 630
total now is 36, total is 666
total now is 37, total is 703
total now is 38, total is 741
total now is 39, total is 780
total now is 40, total is 820
total now is 41, total is 861
total now is 42, total is 903
total now is 43, total is 946
total now is 44, total is 990
total now is 45, total is 1035
total now is 46, total is 1081
total now is 47, total is 1128
total now is 48, total is 1176
total now is 49, total is 1225
total now is 50, total is 1275
total now is 51, total is 1326
total now is 52, total is 1378
total now is 53, total is 1431
total now is 54, total is 1485
total now is 55, total is 1540
total now is 56, total is 1596
total now is 57, total is 1653
total now is 58, total is 1711
total now is 59, total is 1770
total now is 60, total is 1830
total now is 61, total is 1891
total now is 62, total is 1953
total now is 63, total is 2016
total now is 64, total is 2080
total now is 65, total is 2145
total now is 66, total is 2211
total now is 67, total is 2278
total now is 68, total is 2346
total now is 69, total is 2415
total now is 70, total is 2485
total now is 71, total is 2556
total now is 72, total is 2628
total now is 73, total is 2701
total now is 74, total is 2775
total now is 75, total is 2850
total now is 76, total is 2926
total now is 77, total is 3003
total now is 78, total is 3081
total now is 79, total is 3160
total now is 80, total is 3240
total now is 81, total is 3321
total now is 82, total is 3403
total now is 83, total is 3486
total now is 84, total is 3570
total now is 85, total is 3655
total now is 86, total is 3741
total now is 87, total is 3828
total now is 88, total is 3916
total now is 89, total is 4005
total now is 90, total is 4095
total now is 91, total is 4186
total now is 92, total is 4278
total now is 93, total is 4371
total now is 94, total is 4465
total now is 95, total is 4560
total now is 96, total is 4656
total now is 97, total is 4753
total now is 98, total is 4851
total now is 99, total is 4950
total now is 100, total is 5050
================
result: 5050

In [37]:
def sum(a, b):
    return a + b

sum(1, 5)

6

In [40]:
print("0 1 2 3 4 5 6 7 8 9")
# for i in range(0, 10):
#     print(i)

0 1 2 3 4 5 6 7 8 9

## # List是什麼

In [24]:
[0, 1, 2 ,4, 5 , 5]

[0, 1, 2, 4, 5, 5]

In [26]:
mylist = [0, 2, 4, 5]
for i in mylist:
    print(i)

0
2
4
5

In [29]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
line = ''
for i in range(0, 10):
    line = line + f' {i}'
print(line)

 0 1 2 3 4 5 6 7 8 9

# 作業

In [51]:
# 作業
# 兩個for, for裡面也可以放for 


line = ''
for i in range(0, 5):
    line = line + '*'
print(line)

*****

In [49]:
print("*****")
print("*****")
print("*****")
print("*****")
print("*****")

*****
*****
*****
*****
*****

In [50]:
print("**")
print("**")

**
**